<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="icon" href="{{ asset('images/folder.png') }}">
    <link href="https://bootswatch.com/4/flatly/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="col-lg-4 mx-auto mt-4 text-center">
        <h1>Bienvenue</h1>
        <p>Merci de vous connecter pour continuer.</p>
        <a href="{{ path('security_login') }}">
            <button class="btn btn-lg btn-success register mx-auto col-lg-12 mt-2">Aller à la page de connexion</button>
        </a>
    </div>
</body>
</html>


