{% extends 'includes/base-template.html.twig' %}
{% block body %}


<div class="body userdetails">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand" href="#">Fiche utilisateur</span>
    </nav>
    <div class="ml-2 doc-infos">
        <p><b>Utilisateur :</b> {{ user.username }}<br/>
            <b>Nom :</b> {{ user.userFirstName}}<br/>
            <b>Prénom :</b> {{ user.userLastName }}<br/>
            <b>Droits: </b> 
            	{% for role in user.roles %}
            		{{role}}
            	{% endfor %}
            </br>

    </div>
</div>

{% endblock %}
