<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/superhero/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-fiZOWGBt79dIbkt852eb24nKPxYOvAgtp4v4IUFozlwV/WkvlilK1oTVfPorZdV4" crossorigin="anonymous">
    </head>
    <body>

        <div class="header">
            {% block header %}
                {% include 'twig/templates/nav-base.html.twig' %}
            {% endblock %}
        </div>

        <div class="body">
            {% block body %}{% endblock %}
        </div>

        <div class="footer">
            {% block footer %}
                {% include 'twig/templates/footer.twig' %}
            {% endblock %}
        </div>

</body>
</head>