<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link href="https://bootswatch.com/4/superhero/bootstrap.min.css" rel="stylesheet">
        {% block others_css_imports %}{% endblock %}
    </head>
    <body>

        <div class="header">
            {% block header %}
                {% include 'twig/templates/nav-base.html.twig' %}
            {% endblock %}
        </div>

        <div class="body">
            {% block body %}{% endblock %}
        </div>

        <div class="footer">
            {% block footer %}
                {% include 'twig/templates/footer.twig' %}
            {% endblock %}
        </div>
</body>
</head>