<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link href="https://bootswatch.com/4/superhero/bootstrap.min.css" rel="stylesheet">
        {% block others_css_imports %}{% endblock %}
    </head>
    <body>

        <div class="head">
            {% block header %}{% endblock %}
        </div>

        <div class="body">
            {% block body %}{% endblock %}
        </div>

        <div class="footer">
            {% block footer %}{% endblock %}
        </div>
</body>
</head>