<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="icon" href="{{ asset('images/folder.png') }}">
        <link href="https://bootswatch.com/4/flatly/bootstrap.min.css" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        {% block others_css_imports %}{% endblock %}
    </head>
    <body>

        <div class="header">
            {% block header %}
                {% include 'includes/nav-base.html.twig' %}
            {% endblock %}
            {% block other_css_imports %}
            {% endblock %}
        </div>

        <div class="body">
            {% block body %}{% endblock %}
        </div>

        <div class="footer">
            {% block footer %}
                {% include 'includes/footer.twig' %}
            {% endblock %}
        </div>
</body>
</html>