{% block footer %}

<!-- Footer -->
<footer class="page-footer font-small blue pt-4 mt-4">


  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    EFREI 2018
    <br/>
    -
    <br/>
    Kilian CHOLLET - Clément JAWORSKI
    <br/>
    Amaury LUCAS - Lucas MASSON - Thomas NOUVELLON
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
{% endblock %}