{% extends 'includes/base-template.html.twig' %}

{% block body %}

    <div class="ml-2 doc-infos">
        <p><b>Utilisateur :</b> {{ user.username }}<br/>
            <b>First name :</b> {{ user.userFirstName}}<br/>
            <b>Last name :</b> {{ user.userLastName }}<br/>
            <b>Role :</b> {% for role in user.roles %}
                        {{ role }},
            {%  endfor %}<br/>

    </div>
{% endblock %}