<!DOCTYPE html>
<html>
<head>
    <link href="https://bootswatch.com/4/flatly/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>

<div class="body docdetails">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand" href="#">Fiche utilisateur</span>
    </nav>
    <div class="ml-2 doc-infos">
        <p><b>Utilisateur :</b> {{ user.username }}<br/>
            <b>First name :</b> {{ user.userFirstName}}<br/>
            <b>Last name :</b> {{ user.userLastName }}<br/>
            <b>Role :</b> {{ user.roles}}<br/>

    </div>
</div>

</body>
</html>
